.App-header {
  background-color: #ffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.barText{
  position: absolute;
  top: 0;
  left: 80px;
}
.barText h1{
  top: 12px;
  position: absolute;
}
.barText p{
  position: absolute;
  top: 25px;
  left: 90px;
}
#cartCard p{
  position: relative;
  top: 5px;
  left: 50px;
}
@media screen and (max-width: 767px) {
  .cards {
    width: 70%;
    left: 30%;
  }
}
@media screen and (max-width: 635px) {
  .carshop{
    left: 80% !important;
  }
  .cards {
    width: 70%;
    left: 26%;
  }
}
@media screen and (max-width: 576px) {
  .carshop{
    left: 80% !important;
  }
  .cards {
    width: 70%;
    left: 20%;
  }
}
@media screen and (max-width: 411px) {
  .carshop{
    left: 80% !important;
  }
  .cards {
    width: 70%;
    left: 15%;
  }
}


